.home {
    margin-top: 4rem;
    height: 100vh;
    perspective: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;

    &__section {
        height: 85vh;
        position: relative;
    }

    &__static {
        height: 60vh;
        background-image: url('../images/background/grey-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .home__static-content {
            width: 40%;
            margin-left: 2rem;

            h2 {
                text-transform: uppercase;
            }

            button {
                width: 12rem;
                background: transparent;
                border: 3px solid #000;
                font-size: 1.1rem;
                font-weight: 700;
                padding: .5rem;
                text-transform: uppercase;
            }
        }

        .home__static-image {
            width: 27%;
            max-width: 400px;
            min-width: 330px;

            img {
                width: 100%;
            }
        }
    }

    &__parallax::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(-1px) scale(1.5);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &__banner1::after {
        background-image: url('../images/banners/banner1.jpg');
    }
    
    &__banner2::after {
        background-image: url('../images/banners/banner2.jpg');
    }
    
    &__banner3::after {
        background-image: url('../images/banners/banner3.jpg');
    }
}

@media (max-height: 600px) {

    .home__static-image {
        display: none;
    }
}

@media (max-width: 600px) {
    .home__static {
        height: 90vh;

        .home__static-content {
            margin-left: 0;
        }
    }
}